.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    max-width: 600px;
    height: calc(100% - 1em);
    text-align: center;
    color: #565656;   
    border: 1px solid var(--primary-colour);
    box-sizing: border-box;   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 10px auto;
    position: relative;
}

.gameHeader {
    font-size: 1.3em;
    background-color: var(--primary-colour);
    color: white;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
    position: relative;
}

.gameHeader2 {
    background-color: var(--secondary-colour);
    border-bottom: 1px solid var(--primary-colour);
    width: 100%;
    box-sizing: border-box;
    padding: 0.1em;
    color: gray;
}

.word {
    font-size: 1.3em;
    color: var(--primary-colour);
    font-weight: bold;
}

.guess {
    font-size: 1em;
    width: 70%;
    border: 1px solid var(--primary-colour);
}

.brushP {
    cursor: url(../images/pencil.png) 3 45, auto;	
}

.brushR {
    cursor: url(../images/rubber.png) 8 40, auto;	
} 

.controls {
    display: flex;
    padding: 0.3em;
    box-sizing: border-box;
    text-align: left;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid var(--primary-colour);
    width: 100%;
    height: 3.3em;
}

.controls img {
    cursor: pointer;
    background-color: white;
    padding: 0.1em;
    border-radius: 3px;
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.4em;
    border: 1px solid var(--primary-colour);
}

.controls img.selected {
    background-color: var(--secondary-colour);
}

.controls .hide {
    display: none;
}

.brushSelection {
    position: absolute;
    bottom: 2.5em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 99;
}

.penSelection {
    left: 0.3em;
}

.rubberSelection {
    left: 2.8em;
}

.brushSelection img {
    margin: 0.1em 0;
}

.controls .small {
    width: 0.8em;
    height: 0.8em;
    padding: 0.6em;
}

.controls .medium {
    width: 1.2em;
    height: 1.2em;
    padding: 0.4em;
}

.controls .large {
    width: 1.8em;
    height: 1.8em;
    padding: 0.1em;
}

.brushSelection img.selected {
    background-color: var(--secondary-colour) !important;
}

.brushSelection img:hover {
    background-color: #ffffcf;
}

.clearBtn {
    width: 3.5em;
    font-size: 1em;
    background-color: white;
    color: var(--primary-colour);
    border-radius: 3px;
    font-weight:bold;
    border: 1px solid var(--primary-colour);
    cursor: pointer;
    outline: none;
}

.roundSubmitBtn {
    font-size: 1em;
    width: 4em;
    margin-left: auto;
}

.guessSubmitBtn {
    border-radius: 0;
    border-left: 0;
}

.startBtn {
    z-index: 101;
}

.drawing { 
    align-self: center;
    max-height: calc(100% - 4em);
    max-width: 100%; 
}

.gameHeader2 form {
    display: flex;
    width: 100%;
}

.gameHeader2 form.hide {
    display: none;
}

.guessInput {
    font-size: 1.2em;
    padding: 0.1em;
    width: 0;
    flex-grow: 1;
    border: 1px solid #8f8f8f;
}

 .arrow {
    display: inline-block;
    border-width: 0 6px 6px 0;
    border-color: white;  
    border-style: solid;
    padding: 6px;
    position: absolute;
    cursor: pointer;
    background: none;
    color: white;
    width: auto;    
    height: auto;
    z-index: 99;
    outline: none;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0.7em;
    top: 0.7em;  
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 0.7em;
    top: 0.7em;
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 9.5em;  
    border-color: #565656;
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 16px;  
    border-color: #565656;
}

.secretWord {
    font-size: 1em;
    color: var(--primary-colour);
    font-weight: bold;
}

.reveal.gameHeader2 {
    height: auto;
}

.gameHeader3 {
    font-size: 0.8em;
    padding-top: 0.5em;
}

.revealWord {
    margin: auto;
    font-size: 1.7em;
    padding: 1em;
    color: var(--primary-colour);
}

.swipeableContainer {
    width: 100%;
    height: 100%;
}